/* CSS declarations go here */


body { }
.blurredstuff {
	-webkit-filter: blur(1px);
	opacity: .5;
}

.getFocus {
	padding: 0 0 10px 0;
}

.doubleFocus {
	font-size: 145%;
	padding: 40px; 
	border: thin solid gray;
	margin: 6px 0;
}
