/* CSS declarations go here */


html, body {

}

#loginBtn {
	margin-top: 8px;
}
.blurredstuff {
	-webkit-filter: blur(1px);
	opacity: .5;
}

.closed {
	padding-top: 4px;
}
.bg-dismissed {
	color: #F0E8DD;
}
.bg-closed {
	color: #666;
}
.magellan-container {
	background-color: #ccc;
}
#footer {

	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: black;
}

form {
	margin-top: 1rem;
}
