/* CSS declarations go here */


html, body {

}

.has-form {
  position: absolute;
  top: 0;
  left: 3rem;
  min-width: 28rem; }
  @media only screen and (max-width: 40em) {
    .has-form {
      min-width: 17rem;
      top: 0.5rem; }
      .has-form .button {
        height: 1.85rem; } }






.blurredstuff {
	-webkit-filter: blur(1px);
	opacity: .5;
}

.bg-dismissed {
	color: orange;
}
.bg-closed {
	color: #666;
}
