/* CSS declarations go here */


html, body {
  margin-top: 26px;
}

.text-primary a { color: #093e6c; text-decoration: underline;}
table caption { font-weight: bold }

.blurredstuff {
	-webkit-filter: blur(1px);
	opacity: .5;
}
 
.openModal { cursor: pointer;}
.bg-dismissed {
	color: orange;
}
.bg-closed {
	color: #666;
}
